/**
 * TangoMan SCRUM Quizz
 *
 * @author  "Matthias Morin" <matthias.morin@gmail.com>
 * @licence  MIT
 */

nav {
    margin-bottom: 64px;
}

.card {
    margin-bottom: 64px;
}

ul {
    list-style: none;
}

li {
    position: relative;
    border-radius: 3px;
    padding-left: 8px;
}

li:hover {
    box-shadow: 0px 0px 3px 0px #656565;
}

footer {
    min-height: 64px;
}

.card-body {
    min-height: 30vh;
}

.icon {
    position: absolute;
    left: -22px;
}
