/**
 * TangoMan SCRUM Quizz
 *
 * @author  "Matthias Morin" <matthias.morin@gmail.com>
 * @licence  MIT
 */

nav {
    margin-bottom: 32px;
}

.card {
    margin-bottom: 36px;
}

ul {
    list-style: none;
}

footer {
    min-height: 52px;
}

.card-body {
    min-height: 30vh;
}

.placeholder {
    display: inline-block;
    width: 16px;
    height: 16px;
}
